<VirtualHost *:80>
    ServerName exhen.localhost
    ServerAlias exhen.localhost
    ServerAlias exhen.debian

    DocumentRoot /var/www/vhosts/exhen/www
    <Directory /var/www/vhosts/exhen/www>
        Options FollowSymLinks ExecCGI
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>

    Alias /images /var/www/vhosts/exhen/images
    <Directory /var/www/vhosts/exhen/images>
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/exhen-error.log
    CustomLog ${APACHE_LOG_DIR}/exhen-access.log combined

</VirtualHost>