body { margin: 0; font-family: 'Open Sans', sans-serif; background: #222; font-weight: 300; color: #ddd;}
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.gallery-item { padding-top: 24.20%; display: inline-block; position: relative; background: no-repeat center; background-size: cover; width: 16.666%; margin-bottom: -5px; overflow: hidden; cursor: pointer; color: inherit;}
.gallery-item.landscape { background-size: 100% auto; }
.gallery-item .top, .gallery-item .bottom { position: absolute; background: rgba(0, 0, 0, 0.7); padding: 10px; left: 0; opacity: 0; transition: opacity 50ms; }
.gallery-item .top { top: 0; }
.gallery-item .bottom { bottom: 0; max-height: 70%; overflow-y: auto;}
.tags { font-size: 11px;}
.tags .tag { display: inline-block; margin: 0 4px 4px 0; padding: 2px 4px; border-radius: 3px; transition: all 100ms; cursor: pointer; color: inherit; text-decoration: none;}
.tags .tag:hover { box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.51);}
.tags .tag-character { background: rgba(134, 18, 18, 0.75); }
.tags .tag-parody { background: rgba(90, 0, 133, 0.75); }
.tags .tag-language { background: rgba(48, 48, 165, 0.75); }
.tags .tag-group { background: rgba(48, 165, 53, 0.75); }
.tags .tag-artist { background: rgba(48, 165, 156, 0.75); }
.tags .tag-female { background: rgba(165, 48, 151, 0.75); }
.tags .tag-male { background: rgba(134, 134, 134, 0.75); }
.tags .tag-misc { background: rgba(165, 160, 54, 0.75); }
.tags .tag-reclass { background: rgba(139, 110, 201, 0.75); }
.gallery-item .date, .gallery-item .weight { float: right; margin-top: 4px; }
.gallery-item:hover .top, .gallery-item:hover .bottom { opacity: 1; }
.template { display: none; }
.reader-container { display: none; position: fixed; width: 100%; height: 100%; background: inherit; top: 0; left: 0; }
html.reader-active .reader-container { display: block; }
html.reader-active, html.reader-active body { height: 100%; overflow: hidden; }
.reader-container .close.button { width: 40px; }
.reader-container .image-holder { position: relative; top: 0; left: 0; -webkit-user-drag: none; -webkit-user-select: none; }
.reader-container .image-holder.init { opacity: 0; }
.reader-container .image-holder.ui-draggable-dragging { cursor: move; }
header {text-align: center; padding: 20px; }
.search { padding: 8px 10px; padding-right: 40px; width: 100%; background: none; border: 1px solid #999; border-radius: 2px; font: inherit;font-size: 22px; margin: 0; height: 48px; color: inherit;}
.button { font: inherit; font-size: 22px; background: none;  border: 1px solid #999;  border-radius: 2px;  width: 126px; text-align: center; line-height: 46px; padding: 0; margin: 0; display: inline-block; color: inherit; cursor: pointer; -webkit-user-select: none;}
.search-form { display: flex; flex-direction: row; }
* { box-sizing: border-box; -moz-box-sizing: border-box; }
.search:focus, .search:active, .button:focus, .button:active { outline: none; border: 1px solid rgb(209, 135, 0); }

.reader-container .control {position: absolute; top: 0; height: 100%; width: 100px; background: rgba(0, 0, 0, 0.74) url(/img/arrow-prev.png) no-repeat center; display: none; opacity: 0;-webkit-user-select: none; cursor: pointer; transition: opacity 200ms; }
.reader-container .control-next {right: 0; background-image: url(/img/arrow-next.png); }
.reader-container .control-hotspot { position: absolute; top: 0; width: 10px; height: 100%; }
.reader-container .control-hotspot-next { right: 0; }
.reader-container .control:hover, .reader-container .control-hotspot:hover + .control { display: block; opacity: 1; }

.loaders { text-align: center; padding: 20px; display: none; }
.loaders.active { display: block; }
.loader-outer { text-align: center; display: inline-block; width: 30px; height: 24px; vertical-align: middle; }
.loader { width: 16px; height: 16px; background: #eee; display: inline-block; border-radius: 64px; -webkit-animation: loader 600ms infinite; animation: loader 600ms infinite; vertical-align: middle; }
.loader-ni { -webkit-animation-delay: 150ms; animation-delay: 150ms; }
.loader-san { -webkit-animation-delay: 300ms; animation-delay: 300ms; }

.load-previous, .load-next { display: none; text-align: center; font-size: 22px; padding: 15px 0 20px; }
.load-previous.active, .load-next.active { display: block; }
.load-next { padding-top: 20px; }
.load-previous .inner:hover, .load-next .inner:hover { color: rgb(255, 169, 169); cursor: pointer; }
.suggestions {position: absolute; list-style: none; background: #222; border: 1px solid #999; border-top: none;z-index: 1; margin: 0; text-align: left; padding: 0; font-size: 18px; display: none;}
.suggestions li {padding: 10px 20px; }
.suggestions.active { display: block; }
.suggestions li:hover, .suggestions li.active { background: rgb(209, 135, 0); cursor: pointer; color: #222;}
.suggestions li:hover .highlight, .suggestions li.active .highlight { color: rgb(255, 255, 255); }

.reader-container .thumbs-hotspot { position: absolute; top: 0; width: 10px; height: 100%; }
.gallery-thumbs-outer {position: absolute; top: 0; left: 0; height: 100%; background: rgba(0, 0, 0, 0.33); padding: 10px; transition: margin 200ms;transition-timing-function: ease-out;overflow: hidden;width: 180px;margin-left: -180px;}
.gallery-thumbs-outer .gallery-thumb {width: 140px; height: 200px; display: block; background-size: 100% auto; background-repeat: no-repeat;background-position: center;cursor: pointer;}
.gallery-thumbs-outer .gallery-thumb ~ .gallery-thumb { margin-top: 6px }
.gallery-thumbs-outer .thumbs {overflow: auto; white-space: nowrap; max-height: 100%;padding-right: 20px;}
.gallery-thumbs-outer:hover, .thumbs-hotspot:hover + .gallery-thumbs-outer { margin: 0;}

.gallery-thumbs-outer:hover + .gallery-info, .thumbs-hotspot:hover + .gallery-thumbs-outer + .gallery-info { left: 180px; }
.gallery-info {position: absolute; top: 0; left: 0; padding: 5px;z-index: 10;max-width: 540px;transition: left 200ms;  transition-timing-function: ease-out;}
.gallery-info:hover { z-index: 50 }
.gallery-info .title { font-size: 12px;   text-shadow: 1px 1px 1px #000;}
.gallery-info .tags { padding: 5px 0; max-width: 60%;}
.gallery-info .expand { display: none; }
.gallery-info:hover .expand { display: block;}
.gallery-info .origtitle { color: #aaa; font-size: 12px; }

.pages-container { height: 100%; overflow: auto; padding: 0 20px;}
.pages-container > .inner { margin: 0 auto; position: relative;z-index: 30; max-width: 1200px; text-align: center;font-size: 0;}
.pages-container img ~ img {margin-top: 20px; }
.pages-container > .inner > img { max-width: 100%; }

.suggestions .highlight { color: rgb(255, 169, 169); }

.reader-container .gallery-actions { position: absolute; top: 10px; right: 10px; }
.dropdown-button .menu-outer { display: none; position: absolute; }

.dropdown-button .menu-outer ul { list-style: none;  margin: 10px 0 0;  padding: 0;  border: 1px solid #999;  border-radius: 2px; z-index: 111; position: relative; background: #222; }
.dropdown-button .menu-outer ul li { font-size: 22px; padding: 4px 16px; }
.dropdown-button .menu-outer ul li:hover { cursor: pointer; color: rgb(255, 169, 169);}

.input-clear { display: none; width: 18px; height: 18px; background: url(/img/input-clear.png) no-repeat center; position: absolute; top: 50%; margin-top: -9px; right: 30px; cursor: pointer;}
.search:hover + * + .input-clear, .search:focus ~ .input-clear, .input-clear:hover { display: inline-block; }
*::-webkit-input-placeholder { color: #aaa; }

.end-flash {position: fixed; top: 50%; left: 50%; margin-left: -50px; font-size: 40px; background: rgba(0, 0, 0, 0.8); width: 100px; text-align: center; border-radius: 10px; opacity: 0; display: none; }
.end-flash.active {opacity: 1; display: block; }
.end-flash.transition { transition: opacity 800ms; display: block;}

.dropdown-button.active .menu-outer {display: block; }
.dropdown-button {display: inline-block; }
.actions-menu {margin-right: 6px; }
.reader-container .button {font-size: 20px; line-height: 38px; width: 100px; text-shadow: 1px 1px 2px #000;}
.reader-container .dropdown-button .menu-outer ul li { font-size: 20px; padding: 4px 14px;}
.gallery-item .weight:before {content: "|"; padding-left: 5px; padding-right: 5px; font-size: 10px; vertical-align: top; line-height: 15px; }

.input-wrap {padding-right: 14px; flex-grow: 1; position: relative;}
.search-options > * ~ * {margin-left: 10px; }
.search-options {flex-shrink: 0; }
.unarchived-outer {display: inline-block; vertical-align: top; position: absolute;top: 0;right: 0;}

input[type="checkbox"] {position: absolute; opacity: 0; }
input[type="checkbox"].fancy-switch + div {vertical-align: top; width: 45px;    height: 22px;  border-radius: 999px; background-color: rgba(0, 0, 0, 0.1); transition: .4s;  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);  border: 1px solid #999;display: inline-block;}
input[type="checkbox"].fancy-switch:checked + div {width: 45px; background-position: 0 0;  border: 1px solid rgb(209, 135, 0);  }
input[type="checkbox"].fancy-switch + div > div {float: left; width: 20px; height: 20px; border-radius: inherit;        transition: transform .4s;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4); pointer-events: none; margin-top: 0px; margin-left: 0px; border: 1px solid #999;}
input[type="checkbox"].fancy-switch:checked + div > div {transform: translate3d(24px, 0, 0);   box-shadow: 0px 0px 0 1px rgb(209, 135, 0); border: none;background: inherit;}
.unarchived-outer label span {display: inline-block; margin-right: 10px; }
.search-under {position: relative; height: 22px;margin-top: 20px;}
.gallery-item.unarchived {background-size: contain; }
.unarchived-outer label {cursor: pointer; }

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track {  border-radius: 10px; }
::-webkit-scrollbar-thumb { border-radius: 10px; border: 1px solid #8A8A8A; }

@keyframes loader {
    0% { width: 16px; height: 16px; }
    50% { width: 24px; height: 24px; }
    100% { width: 16px; height: 16px; }
}

@-webkit-keyframes loader {
    0% { width: 16px; height: 16px; }
    50% { width: 24px; height: 24px; }
    100% { width: 16px; height: 16px; }
}

@media (max-width: 1400px) {
    .gallery-item { width: 20%; padding-top: 29%; }
}

@media (max-width: 1100px) {
    .gallery-item { width: 25%; padding-top: 36.35%; }
}

@media (max-width: 900px) {
    .gallery-item { width: 33.333333333%; padding-top: 48.4%; }
}

@media (max-width: 720px) {
    .gallery-item .top, .gallery-item .bottom { display: none !important; }
    .gallery-info { display: none; }
}

@media (max-width: 580px) {
    .search-form {flex-wrap: wrap; }
    .search-options {flex-grow: 1; margin-top: 12px; }
}